@charset "UTF-8";

/* Page */

.page {
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 40px; */
  /* min-width: 375px; */
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--main-text-color);
  transition-duration: var(--transition-duration);
}

/* Header */

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr 1fr 1fr;
  /* padding: 20px 20px; */
  block-size: 100vh;
  min-block-size: 100vh;
  /*  */
  justify-items: end;
  padding: 20px 20px 0px 0px;

  grid-template-areas:
    ".  nuv ."
    "title title title"
    "text text text";
}




/* Шапка */

.header__rec {
  position: absolute;
  color: var(--rec-color);
  text-transform: uppercase;
  top: 21px;
  right: 49px;
}

.header__rec::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  margin: -5px -20px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-color);
  background-color: var(--rec-color);
  top: 50%;
  right: 0;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--corners-color);
  border-bottom: 1px solid var(--corners-color);
  left: 20px;
  bottom: 20px;
}

/* Центировал кнопки */
.header__theme-menu {
  align-self: flex-start;
  justify-self: center;
  padding-left: 20px;
  grid-area: nuv;
}


.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  height: 26px;
  width: 70px;
  line-height: var(--size-18px);
  font-family: var(--font-family);
  padding: 0.5px 13px;
  border: none;
  display: flex;
  align-items: flex-start;
  background-color: transparent;
  cursor: pointer;
  color: var(--button-and-p-color);
}

.main__section:last-child {
  gap: 10px;
}
/* /* Состояние активности кнопок  */

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-color);
}


.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid;
}


.header__theme-menu-button_active {
  border: 1px solid;
  cursor: default;
  pointer-events: none;
}

/* Титул */
.header__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  /* margin-left: -2%; */
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--title-shadow);
  justify-self: flex-start;
  padding-top: 10px;
  grid-area: title;
}

/* .header__title-container { 
   padding: 238px 0 136px; 
  display: flex;
  flex-direction: column;
  gap: 76px;
}
*/

.header__subtitle {
  color: var(--article-title-color);
  align-self: flex-start;
  font-weight: 700;
  width: 49%;
  margin-top: 45px;
  grid-area: text;
}


.page.theme_light .header__rec {
  display: none;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--corners-color);
  border-top: 1px solid var(--corners-color);
  right: 20px;
  top: 20px;
}

/* Main content */

/* Здесь начало Main */

.main {
  display: grid;
  grid-template-rows: repeat(4, auto);
  padding: 20px;
  margin-block-start: 0px;
  margin-block-end: 30px;
  gap: 80px;
  margin-bottom: 5px;
}

.section {
  line-height: 130%;
}

.article__title__regular {
  font-weight: 400;
}

.section__title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  color: var(--section-title-color);
}

.dark-title {
  color: var(--article-title-color);
}

.section__article-list {
  display: flex;
  flex-wrap: wrap;
}

.section__article-list-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--article-title-color);
}

.section__article-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__article-title {
  font-size: 18px;
  /* font-weight: 700; */
  color: var(--article-title-color);
}

.section__article-title, .title-decor {
  color: var(--article-title-color);
}

.section__article-title_regular {
  font-weight: 400;
}

.section__article-text-link {
  border: transparent;
  text-shadow: 2px 2px 0px var(--link-shadow);
  transition-duration: var(--transition-duration);
}

.section__article-text-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.section__article-text-link:focus {
  outline: none;
}

.section__article-text-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

/* Стили первой и третий секции */
.section:first-of-type,
.section:nth-of-type(3) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section:first-of-type .section__title,
.section:nth-of-type(3) .section__title {
  flex: 0 0 auto;
  width: 33%;
}

.section:first-of-type .section__article-list,
.section:nth-of-type(3) .section__article-list {
  flex: 0 0 auto;
  width: 66%;
  flex-direction: column;
  gap: 20px;
}

.section:nth-of-type(2) .section__title {
  width: 30%;
}

.section:nth-of-type(2) .section__article-item {
  flex: 0 0 auto;
  width: 32%;
}

.section:last-of-type {
  display: grid;
}

.section:last-of-type .section__title {
  grid-column: 1/-1;
  width: 100%;
  margin: 0;
}

/* код для галерии */
.main__section {
  display: flex;
  flex-direction: column;
}

.gallery {
  display: grid;
  grid-template-rows: 142px 355px 237px 355px 237px;
  gap: 10px;
}

.gallery-image-item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.title-decor {
  background: var(--title-decor);
  line-height: 130%;
  /* font-weight: 700; */
  font-size: 18px;
}

/* Здесь конец Main */

/* Footer */

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 286px 20px;
  block-size: 100vh;
  min-block-size: 100vh;
}

.footer__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--title-shadow);
}

/* За черту */

@media (width < 768px) and (width >= 375px) {
  .header {
    padding: 0 10px;
  }
  .header__rec {
    top: 11px;
    right: 39px;
  }
}

@media (width < 1024px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
  }
}

@media (width < 768px) and (width >= 375px) {
  .header__theme-menu-list {
    gap: 11px;
  }
}

@media (width < 1024px) and (width >= 768px) {
  .header__theme-menu {
    padding-top: 190px;
  }

  .header__title-container {
    padding: 150px 0 183px;
    gap: 130px;
  }

  .section__title {
    width: 35%;
  }
}

@media (width < 768px) and (width >= 375px) {
  .header__theme-menu {
    padding-top: 75px;
  }

  .header__title-container {
    padding: 65px 0px 0px 0px;
    gap: 57px;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-left: 0;
    line-height: 82.5%;
  }

  .decorated-zone::after {
    right: 10px;
    top: 10px;
  }

  .main {
    padding: 0px 10px;
    gap: 50px;
    margin-bottom: 0px;
  }

  .section__title {
    width: 100%;
    margin-bottom: 20px;
  }

  .decorated-zone::before {
    left: 10px;
    bottom: 10px;
  }
}

@media (width < 1024px) and (width >= 375px) {
  .header__title {
    text-shadow: 4px 4px 0px var(--title-decor);
    margin-left: 0%;
  }

  .header__subtitle {
    padding: 0px 0px 0px 0px;
  }
}

@media (width < 425px) {
  .header__subtitle {
    width: 100%;
  }
}

@media (width < 1024px) and (width >= 768px) {
  .section:first-of-type .section__title,
  .section:nth-of-type(3) .section__title {
    width: 32%;
  }

  .section:first-of-type .section__article-list,
  .section:nth-of-type(3) .section__article-list {
    width: 65%;
  }

  /* Дополним стилями */
  .header {
    padding: 0px 20px 0px 0px;
  }
}

@media (width < 768px) and (width >= 375px) {
  .section:first-of-type .section__title,
  .section:nth-of-type(3) .section__title {
    width: 100%;
    margin-bottom: 20px;
  }

  .section:first-of-type .section__article-list,
  .section:nth-of-type(3) .section__article-list {
    width: 100%;
  }

  .section:nth-of-type(2) .section__title {
    width: 100%;
  }
}

@media (width < 1024px) and (width >= 375px) {
  .section:nth-of-type(2) .section__article-list {
    gap: 20px;
  }

  .section:nth-of-type(2) .section__article-item {
    flex: 1 0 auto;
    width: 100%;
  }
}


@media (width < 768px) and (width >= 375px) {
  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .footer {
    padding: 250px 10px;
  }
}

@media (width < 1024px) and (width >= 768px) {
  .footer {
    padding: 435px 20px;
  }

  .main {
    margin-bottom: 0px;
  }
}

@media (768px <= width) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-height: 780px;
    gap: 20px;
  }

  .sunset-img {
    grid-column: 1/3;
    max-height: 192px;
  }

  .ice-cream-img {
    grid-column: 3/4;
    grid-row: -4/-2;
    max-height: 441px;
  }

  .tape-img {
    grid-row: 2/4;
    max-height: 568px;
  }

  .books-img {
    max-height: 230px;
  }

  .street-img {
    grid-row: 3/4;
    grid-column: -3/-1;
    max-height: 318px;
  }

  .main__section:last-child {
    gap: 20px;
  }
}

@media (width >= 1024px) {
  .gallery {
    max-height: 1040px;
  }

  .sunset-img {
    max-height: 259px;
  }

  .ice-cream-img {
    max-height: 595px;
  }

  .tape-img {
    max-height: 768px;
  }

  .books-img {
    max-height: 315px;
  }

  .street-img {
    max-height: 429px;
  }

  .section:nth-of-type(2) .section__article-list {
    justify-content: space-between;
  }
}

@media (width < 1024px) and (width >= 375px) {
  .header__subtitle {
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
  }
}
